@import '../node_modules/water.css/out/dark.css';

* {
    padding: 0;
    margin: 0;
    color: #dfd4c7;
    /* outline: 1px solid #FF0000; */
}

a {
    cursor: pointer;
    color: #dfd4c7;
}

h1, h2, h3, h4 {
    color: #dfd4c7;
}

header {
    outline: 1px solid #dfd4c7;
    margin-bottom: 25px;
    user-select: none;
}

header h1,
header h2 {
    margin-left: 10px;
}

nav ul {
    display: flex;
    justify-content: left;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 15px 10px 0 0;
    display: block;
}

.text-half-opac {
    color: rgba(223, 212, 199, 0.5);
}

.blogs-list {
    margin: 0 0 0 25px;
    list-style-type: '=>';
}

.blogs-list li {
    padding: 0 0 5px 10px;
}

.blogs-list li a:hover {
    text-decoration: underline;
}

.link-btn {
    background: transparent;
    padding: 0
}

.link-btn:hover {
    background: transparent;
    padding: 0
}

.profile-header-section {
    outline: 1px solid rgba(223, 212, 199, 0.2);
    margin-bottom: 10px;
}

.profile-header {
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 215px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Beautiful_Meadow_in_Yellowstone_National_Park.JPG/2560px-Beautiful_Meadow_in_Yellowstone_National_Park.JPG");
}

.profile-image {
    width: 200px;
    height: 200px;
    outline: 5px solid #dfd4c7;
    border-radius: 200px;
    margin-top: 50px;
    -webkit-box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.3);
}

.profile-header-details {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-header-details h2 {
    margin-bottom: -3px;
}

.profile-section {
    outline: 1px solid rgba(223, 212, 199, 0.2);
    margin-bottom: 10px;
    padding: 5px 15px 25px 30px;
}

.profile-section h3 {
    margin-bottom: 1px;
}

.image-attrib {
    font-size: 10px;
    float: right;
    padding-top: 2px;
}

.profile-skillslist ul {
    list-style-type: "► ";
}

.profile-skillslist {
    margin-left: 15px;
}

.profile-prolist {
    list-style-type: none;
    margin-top: -15px;
}

.profile-prolist li p {
    margin-top: -10px;
}

.profile-prolist ul {
    margin-left: 20px;
    list-style-type: " - ";
}

@media only screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    .profile-image {
        width: 100px;
        height: 100px;
        outline: 3px solid #dfd4c7;
        border-radius: 75px;
        margin-top: 150px;
        -webkit-box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.3);
        box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.3);
    }

    .current-page-text {
        white-space: pre;
    }
}
